body{
    overflow: hidden;
    padding: 0px;
    margin-top:-100px;
  ;

}
.navbar {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-100%);
  background:black;
  padding: 10px 30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  height: 5vh;
  font-size: 20px;
}
#horn{
margin-top: 500px;
 
  
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.navbar li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s;
}
.navbar li a:hover {
  color: #00aced;
}
#reservation {
  background-color:white;
  padding: 6px 15px;
  border-radius: 60px;
  color: white;
}

a:hover{
color:red ;
}
a:active{
color:aqua;
}


#reservation{
    height: 40px;
    width:20% ;
    border-radius: 70px;  

}
.price{
  display: flex;  
}
.breakfast-menu{
    display: flex;
 
    margin: 0 auto;

  }
 #explore-menu{
     height: 112vh;
     width: 120%;
     overflow:hidden; 
     padding: 0;
     margin: 0;
    

  
  }
  .nav-bar{
    position: absolute;
    bottom: 850px;
    left: 60%;
    transform: translateX(50%);
    background:black;
    padding: 10px 30px;
    border-radius: 30px;
    display: flex;
    height: 5vh;
    font-size: 20px;
  }

  .nav-bar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  .nav-bar li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s;
  }
  .nav-bar li a:hover {
    color:rgb(234, 238, 114)
  }
  .menu{
    padding: 0;
    margin: 0; 
    background-color: #000;
    color: white;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    position: relative;
    
  }

 
  
.item-price{
background-color: #000;
width: 100%;;
max-width: 700px;
color: white;
padding: 100px;
overflow-y:scroll;
height: 90vh; 


  }

.item p {
   font-size: 20px;
   font-style: italic;

  }
  .breakfast-food{
    text-align: left;
    width: 75%;
   
  }
.price{
  width: 25%;
  padding-left: 500px;
  margin-top: -50px;

  }
  .list{
    display: flex;
    color:brown ;
    font-size: 30px;
  }
  .breakfast-food-flow{
 float: right;
gap:5%;

  }
  #horn-img{
     height:5rem; 
     margin-left: 100px;
   
    

  }
  #horn-image{
    margin-top:-1500px;
    margin-bottom: 600px;
    margin-left: 400px;
  }
  .image-list{
color:rgb(249, 249, 249);
margin-left: 300px;
margin-top:-100px ;
  }
  .price-special{
margin-left: 500px;
display: flex;
margin-right: 0px;
margin-top: -50px;
  }
  .breakfast-flow{
    font-size: 15px;
    line-height: 1.5;

  }
.extra h1,.food-list h1{
    color: brown;
}
#fruit{color: brown;}
.breakfast-food-flows{
  margin-left: 100px;
}
.text-heading{
  position: relative;
  margin-top: -600px;
  /* margin-left:450px; */
 
}
.text-heading h1{
  color: rgb(208, 19, 19);
  margin-left: 400px;
  font-size: 50px;
}
.text-heading h2{
  color: white;
  margin-left: 470px;
}

@media screen and (max-width:500px) {
  *{
    box-sizing: border-box;
  }
  body{
  overflow: inherit;
    padding: 0px;
    margin: 0px;
  
  }
.breakfast-menu{
   flex-direction: column;
   width: 130%;

  }
  .breakfast-food,.price{
    width: 100%;
    padding:10px;
    margin: 0 auto;
    text-align: center;
  }
  #horn-img{
    margin-left:-900px;
    margin-top: 100px;
    
  }
  #explore-menu{
     height:152vh;
     width: 100%;
     overflow:hidden;
     padding: 0
     margin: 0;
    

  
  }
  .price-special{
margin-right: 0px;
margin-top: -50px;
margin-left: 100px;}
  .image-list{
    margin-right: -130px;
    flex-wrap: wrap;
    color: aqua;
   -ms-word-wrap: break-word;
    word-wrap: break-word;
    margin-top: -100px;
  }
  .breakfast-food-flow{
    font-size: 15px;
    margin-right: 0px;
    margin-left: 100px;
    flex-wrap: wrap;
  }
  .list{
    display: flex;
    color:brown ;
    font-size: 18px;
    margin-left: 0px;
  }
  .item-price{
    padding: 30px 0px;
  }
  .item{
   padding-top:40px;
  }
  .breakfast-food{
    text-align: left;
   width: 100%;
    margin-left: 0px;
    margin-top: -50px;
  }
.price{
  width: 10%;
  padding-left: 150px;
  margin-top: -50px;
  display: flex;

  }
  .navbar{
    position: fixed;
   width: 100%;
   font-size: 10px;
  margin-left:200px;
  }
  #reservation{
    height: 25px;
    width: 25%;
    font-size: 10px;
    margin-left: -20px;
    margin-top: -5px;
  }
  
}


@media screen and (min-width:501px) and (max-width:1050px){
 *{
    box-sizing: border-box;
  }
  body{
    overflow: hidden;
    padding: 0px;
    margin: 0px;
  
  }
.breakfast-menu{
    
   display:flex;
    
   gap: 20px;
   flex-direction: column;
   width: 100%;

  }
  .breakfast-food,.price{
    width: 100%;
    padding:10px;
    margin: 0 auto;
    text-align: center;
  }
  #horn-img{
    margin-left: 0px;
    margin-top: -100px;
  }

  }

  

  







