*{
    box-sizing: border-box;
}
body{
  font-family: sans-serif;
    margin: 0;
    line-height: 1.6;
    overflow: hidden;
  
}
.navbar {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-100%);
    background:black;
    padding: 20px 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(8px);
    height: 8vh;
    font-size: 20px;
    color:white ;
  }
  .live-header p {
    color: red;
    font-size:90px;
    margin-top: -30px;
   }


  .navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  .navbar li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s;
  }
  .navbar li a:hover {
    color: #00aced;
  }
  #reservation {
    background-color:white;
    padding: 6px 15px;
    border-radius: 60px;
    color: white;
    height:40px
  }
a:hover{
color:rgb(6, 83, 93) ;
}
a:active{
color:aqua;
}



.live-events{ 
  display: grid;
  margin-top: -900px;
  float: right;
  margin-right: 300px;
  gap:70px;
  

  

}
.live-title h1{
  color: white;
  font-size: 29px;
  margin-left: 10px;
}

 .live-header{
  background-image: url(images/live-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;


}

.live-grid{
position:relative;
transition:transform 0.3s ease-in-out;
display:flex;
gap: 30px;
}
.live-grid:hover{
  transform:scale(1.05)
}

.live-grid-text {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  margin-right: -100px;}
#text-p{
  color:rgb(208, 65, 8)
}
.live-title{
  padding: 100px 300px 500px 300px;
  font-size:40px ;
}

@media screen and (max-width: 768px) {
 *{
  box-sizing: border-box;
 }
body{
  overflow: inherit;
  height:900vh;
  margin:0;
  padding:0;;
}
.live-events{
margin-left: 300px;
  display:block;
  margin-top: -930px;
 

  gap:20px;

 }
 .live-title img{
  margin-top:100px;
  height: 8rem;
 }
.live-title h1 p{
margin-top: 100px;
font-size: 15px;
}
.navbar{
  margin-left: 250px;
  margin-top: 40px;
}
.live-title{
  margin-left: -200px;
  margin-top: -300px;
}
}
