*{
    box-sizing: border-box;
}
body{
  font-family: sans-serif;
    margin: 0;
    line-height: 1.6;
    overflow: hidden;
}

.live-events{ 
  display: grid;
  margin-top: -900px;
  float: right;
  margin-right: 300px;
  gap:70px;
  

  

}
.live-title h1{
  color: white;
  font-size: 29px;
  margin-left: 10px;
}

 .live-header{
  background-image: url(images/live-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;


}

.live-grid{
position:relative;
transition:transform 0.3s ease-in-out;
display:flex;
gap: 30px;
;
}
.live-grid:hover{
  transform:scale(1.05)
}

.live-grid-text {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  margin-right: -100px;}
#text-p{
  color:rgb(208, 65, 8)
}
.live-title{
  padding: 100px 300px 500px 300px;
  font-size:40px ;
}
.socialIcons{
  position:absolute;
  left: 93%;
  bottom: 95%;
  display: flex;
  gap:50%;

  }
  .navbar{
    position: absolute;
     top: 82%;
     left: 5%;
     padding: 0.7%;
    background-color: black;
    margin-left:0px;
    padding-left: 0px;
    width: 40%;
    border-radius: 3em;
    font-size: 1.3em;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(31, 30, 30, 0.2), 0 6px 20px 0 rgba(36, 35, 35, 0.19);
  
  }
  .navbarItems{
    list-style: none;
    display: flex;
    gap: 3%;
  
  }
  
  .navbar a{
    text-decoration: none;
    color: white;
  }

  .popup{
    display: none;
    position: absolute;
    bottom: 90px;
    top: auto;
    left: 20px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 999;
    font-size: 0.9em;
  }
  
  .clockIcon:hover .popup{
    display: block;
  }

  .hamburger{
    position: relative;
  }
  .lists{
    list-style: none;
    display: flex;
    gap: 3%;
  }
  .menuWrapper{
    position: relative;
    display: inline-block;
    background-color: transparent;
  }
  .menuIcon{
    color: white;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
  }
   .mobileMenu{
    display: none;
    position: absolute;
    bottom: 100%;
    left: -20px;
    background-color: black;
    padding: 15px;
    border-radius: 10px;
    z-index: 1000;
    width: 250px;
   }

   .menuWrapper:hover .mobileMenu{
    display: block;
   }

   .mobileMenu a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0px;

   }

   .mobileMenu hr{
    border: 0;
    border-top: 1px solid #555;
    margin: 0;
   }
   #reservationsLink{
    background-color: grey;
    padding: 5%;
    border-radius: 1em;
    text-align: center;
    width: 110%;       

  }
   
  #reservationLink:hover{
    color: burlywood;
    font-weight: bold;
  }
#whatssapIcon{
    position: absolute;
    font-size: 30px;
    top: 85%;
    left: 93%;
    
    background-color: black;
    border: white 1px solid;
    border-radius: 2em;
    padding: 1%;
    }


@media screen and (max-width:768px) {
  body{
    overflow-y: inherit;
  }
  .live-events{
    margin-top: -800px;
    float: right;
    margin-right: 0px;
    gap: 100px;
  }
  .live-title{
   color:brown;
    font-size:50px ;
    margin-left: -200px;
  }
  .live-title h1{
    color: black;
  }
  .live-header{
    height: 200vh;
    width: 100%;
  }
  
  .live-grid-text {
    font-size:10px;
    text-align: center;
    margin-right: -100px;
  word-wrap: break-word;
overflow-wrap: break-word;}
    .live-grid{
      padding-left: -450px;
    }
  #live-image{
height: 10rem;
margin-top: -30px;
    }
    #horn{
height: 8rem;
margin-left: 10px;
    }
    .navbarItems{
      font-size: 23px;
      margin-top: -2px;
      margin-left: -20px;
    }
    .navbar{
      width: 40%;
      position: fixed;
     height: 5vh;
      font-size: 10px;
      bottom: 0;
      margin-left: 50px;
    }
    #reservationsLink{
      width: 100%;
      font-size: 10px;
      margin-top: 5px;
      margin-left: 10px;
      font-size: 11px;
     
    }
    .navbaricons{
      display: none;

    }
   
   
}
@media screen and (min-width:769px) and (max-width:1050px) {
  body{
    overflow-y:inherit;
  }
  .live-header{
    height: 200vh;
    width: 100%;
    padding-left: 300px;
    
  }
  .live-title{
   color:brown;
    font-size:70px ;
    margin-left: -200px;
  }
  .live-events{
    margin-top:-1200px;
    margin-left: 20px;
  }
  .live-title h1{
    color: black;
  }
  .live-grid-text {
    font-size: 2em;
    text-align: center;
    margin-right: -100px;}
    .navbar{
      width: 30%;
      position: fixed;
     height: 5vh;
      font-size: 10px;
      bottom: 0;
      margin-left: 190px;

    }
    .navbarItems {
      font-size: 23px;
      margin-top: 10px;
      margin-left: -20px;
    }
    .navbaricons{
      display: none;
      font-size: 13px;
    }
    #reservationsLink{
      margin-left:10px;
      font-size: 18px;
      margin-top: -5px;
    }
    
}
