*{
    box-sizing: border-box;
}#horn{
 
 height: 15vh;
 margin-bottom: 600px;
margin-right: -350px;
align-items: center;
justify-content: center;
float: right;
   
} 
    

 .navbar {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background:black;
    padding: 10px 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(8px);
    height: 8vh;
    font-size: 20px;
    color: aliceblue;
  }
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  .navbar li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s;
  }
  .navbar li a:hover {
    color: #909293;
  }
  #reservation {
    background-color:white;
    padding: 6px 15px;
    border-radius: 60px;
    color: white;
    height: 5vh;
    width: 30%;
  }
body {
  font-family: sans-serif;  
  background-color:black; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
.review-container {
  background-color: black;
  text-align: center;
  width: 80%;
  max-width: 600px;
  position: relative;
  color: white;
}
.reviews-title {
  font-size: 2em;
  margin-bottom: 20px;
}
.review-text {
  font-style: italic;
  line-height: 1.6;
  margin-bottom: 20px;
}
.reviewer {
  font-weight: bold;
  margin-bottom: 5px;
}
.location {
  font-size: 0.9em;
  color: #cccccc;
}
.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #fbfafa;
  font-size: 2em;
  cursor: pointer;
  padding: 10px;
  outline: none;
}
.arrow-left {
  left: -40px;
}
.arrow-right {
  right: -40px;
}
.quote-left, .quote-right {
  font-size: 3em;
  color: #e13506;
}
.quote-left {
  position: absolute;
  top: 10px;
  left: 10px;
}
.quote-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
@media screen and(max-width:500px) {
#horn{
  margin:100px;
}
}